html, body {
  background-color: #88d8b0;
  margin: 10px;
}

.item {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(12, 1fr);
}

.item > div {
  display: flex;
  justify-content: center;
  align: items: center;
  font-size: 14px;
  color: #000000;
  background-color: #88d8b0;
}

.title {
  grid-column: 2 / 6;
}

.text {
  grid-column: 6 / 10;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 100px);
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
    background-color: #ffcc5c;
}

h1 {
  text-align: center;
  font-size: 2em;
  color: #ff6f69;
}
