html, body {
  background-color: #fff2e5;
  margin: 5px;
  font-family: 'Raleway', Helvetica, sans-serif;
}

.item {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

.item > div {
  display: flex;
  justify-content: center;
  align: items: center;
  font-size: 14px;
  color: #000000;
  background-color: #ffcc5c;
}

.title {
  grid-column: 2 / 3;
  grid-row: 1;
}

.text {
  grid-column: 2 / 3;
  grid-row: 2;
}

.container {
    margin: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 100px);
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
    /* background-color: #C0C0C0; */
}

/*
  Red = >$100
  Orange = $50<x<$100
  Yellow = $20<x<$50
  Green = >$20
  Blue = $0
 */

.red {
  background-color: #B20000;
}

.orange {
  background-color: #FFA500;
}

.yellow {
  background-color: #d4d444;
}

.green {
  background-color: #008000;
}

.blue {
  background-color: #00007F;
}

.empty {
  background-color: #ffcc5c;
}


h1 {
  text-align: center;
  font-size: 45px;
  color: #ffeead;
}

p {
  text-align: center;
  font-size: 15px;
}
